@font-face {
  font-family: 'NoyhHeavy';
  src:  url('noyh-heavy-webfont.woff2') format('woff2'),
        url('noyh-heavy-webfont.woff') format('woff');

}
@font-face{
  font-family: 'NoyhRegular';
  src:  url('noyh-regular-webfont.woff2') format('woff2'),
        url('noyh-regular-webfont.woff') format('woff');
}
@font-face{
font-family: 'UrbaniLight';
src:  url('Urbani-Light.woff2') format('woff2'),
      url('Urbani-Light.woff') format('woff');
    }
@font-face{
font-family: 'UrbaniRegular';
src:  url('Urbani-Regular.woff2') format('woff2'),
      url('Urbani-Regular.woff') format('woff');
    }
@font-face{
font-family: 'UrbaniThin';
src:  url('Urbani-Thin.woff2') format('woff2'),
      url('Urbani-Thin.woff') format('woff');
    }
body{
background-color:black;
margin:0px;
border:0px;
background-image:url(../img/gradient.svg);
background-size:cover;
background-size:110vw;
background-position: center;
width:100%;
height:100%;
background-repeat:no-repeat;
padding:0px;
}
#container{
  min-height:67vh;
  width:auto;
  padding-top:33vh;
  height:auto;
}
#containertext{
    width:50vw;
    height:auto;
    margin:auto;
    padding-left:2vh;
    padding-bottom:2vh;
    background-color: rgba(1, 12, 11, 0);
    border-radius: 15px;
    transition-timing-function: ease-out;

}
#containertext:hover{
  background-color: rgba(1, 12, 11, 0);
  transition: 0.5s;
}
header{
    font-family: 'NoyhHeavy', sans-serif;
    color:white;
}
.subhead{
    font-family: 'UrbaniThin', sans-serif;
    font-size:1.7rem;
    margin-bottom:20px;
}
#tagline{
    color:#66beff;
    margin:auto;
    text-align: center;
    margin-left:-12vw;
}
#name{
    text-align: center;
    color:white;
    font-size:6.5rem;
}
#description{
    color:white;
    margin-left:26vw;
    margin-top:1vw;
    font-size: 0.9rem;
    width:14vw;
    border-left-color: #66beff;
    border-left-style:groove;
    padding-left:5px;
    border-left-width: thin;
}
.body{
    font-size:1vw;
    font-family: 'UrbaniLight', sans-serif;
    width:auto;
    margin:auto;
}

#greybar{
    width:100%;
    height:8vh;
    background-color:#ffffff;
}
#foottext{
    width:50vw;
    margin:auto;
    line-height:8vh;
    font-size:1rem;
}
#foottext a{
    color:#4a4d51;
    font-family: 'UrbaniLight', sans-serif;
    transition:.3s;
}
#foottext a:hover{
    color:#66beff;
}
a {
    text-decoration: none;
}
#white{
width:100%;
height:auto;
background-color:white;
padding-bottom: 50px;
}
#container2{
    width:50vw;
    height:auto;
    margin:auto;
  }
#projects{
  grid-row: 1;
}
.section{
    color:#4a4d51;
    font-size: 4.5rem;
}

#container2 .subhead{
    color:#009E9E;
}

.linkimg img{
  width:100%;

}
.linkimg img{
  display:block;
  transition: .3s ease-in-out;
  -webkit-filter: blur(0px); /* Chrome, Safari, Opera */
  filter: blur(0px);
  margin:auto;
}
.linkimg{
  display:inline-block;
  overflow: hidden;
  border-radius: 10px;
  width:15vw;
}
.linkimg:hover img{
  -webkit-filter: blur(1px); /* Chrome, Safari, Opera */
  filter: blur(1px);
  transform: scale(1.1)

}
.linkimgcontainer{
  width:50vw;
  display:inline-flex;
  flex-flow: wrap;
  margin:auto;
  justify-content: space-around;


}
#conServ{
  grid-column: 1;
  grid-row: 1;

}
@media only screen and (max-width:500px) {
  body{
    background-image:url(../img/mobilegradient.svg);
  }
  #containertext{
  width:90vw;
  margin:auto;
  }
  header{
    margin:auto;
  }
  #name{
    font-size:23vw;
    margin-top:-50px;
    line-height:20vw;
  }
  #tagline{
    font-size:4.8vw;
    margin:auto;
    margin-top:3px;
  }
#description{
width:50vw;
margin:auto;
margin-top:20px;
}
#foottext{
  font-size:4vw;
}
#container2{
  width:80vw;
  margin:auto;
}
.section{
  font-size:15vw;
  text-align: center;
}
.subhead{
  font-size:4vw;
  text-align:center;
  font-family: 'UrbaniLight', sans-serif;

}
.linkimg{
  width:35vw;
}
.body a{
  font-size: 3vw;
}
.linkimgcontainer{
  width:80vw;
}
}
