@font-face {
  font-family: 'NoyhHeavy';
  src:  url('noyh-heavy-webfont.woff2') format('woff2'),
        url('noyh-heavy-webfont.woff') format('woff');

}
@font-face{
  font-family: 'NoyhRegular';
  src:  url('noyh-regular-webfont.woff2') format('woff2'),
        url('noyh-regular-webfont.woff') format('woff');
}
@font-face{
font-family: 'UrbaniLight';
src:  url('Urbani-Light.woff2') format('woff2'),
      url('Urbani-Light.woff') format('woff');
    }
@font-face{
font-family: 'UrbaniRegular';
src:  url('Urbani-Regular.woff2') format('woff2'),
      url('Urbani-Regular.woff') format('woff');
    }
@font-face{
font-family: 'UrbaniThin';
src:  url('Urbani-Thin.woff2') format('woff2'),
      url('Urbani-Thin.woff') format('woff');
    }
body{
background-color:black;
margin:0px;
border:0px;
background-image:url(../img/gradient.svg);
background-size:cover;
background-size:110vw;
background-position: center;
width:100%;
height:100%;
background-repeat:no-repeat;
padding:0px;
}
#container{
  height:59vh;
  width:auto;
  padding-top:33vh;
}
#containertext{
    width:50vw;
    height:auto;
    margin:auto;
    padding-left:2vh;
    padding-bottom:2vh;
    background-color: rgba(1, 12, 11, 0);
    border-radius: 15px;
    transition-timing-function: ease-out;

}
#containertext:hover{
  background-color: rgba(1, 12, 11, 0);
  transition: 0.5s;
}
header{
    font-family: 'NoyhHeavy', sans-serif;
    font-size:7vw;
    color:white;
}
.subhead{
    font-family: 'UrbaniThin', sans-serif;
    font-size:1.6vw;
    margin-bottom:20px;
}
#tagline{
    color:#20f8de;
    margin:auto;
    text-align: center;
    margin-left:-12vw;
}
#name{
    text-align: center;
    color:
}
#description{
    color:white;
    margin-left:26vw;
    width:14vw;
    border-left-color: #20f8de;
    border-left-style:groove;
    padding-left:5px;
    border-left-width: thin;
}
.body{
    font-size:1vw;
    font-family: 'UrbaniLight', sans-serif;
}

#greybar{
    width:100%;
    height:8vh;
    background-color:#ffffff;
}
#foottext{
    width:50vw;
    margin:auto;
    line-height:8vh;
    font-size:1vw;
}
#foottext a{
    color:#4a4d51;
    font-family: 'UrbaniLight', sans-serif;
    transition:.3s;
}
#foottext a:hover{
    color:#009E9E;
}
a {
    text-decoration: none;
}
#white{
width:100%;
height:auto;
background-color:white;
padding-bottom: 50px;
}
#container2{
    width:50vw;
    height:auto;
    margin:auto;
    display:grid;
    grid-template-columns: 50vw;
    grid-template-rows: auto auto;
  }
#projects{
  grid-row: 1;
}
.section{
    color:#4a4d51;
}
#project1{
    margin-left:100px;
}
#project1 nav a{
    line-height:2.5em;
}
#project1 a{
    color:#009E9E;
}
#project1 a:hover{
  color:#043332;
  transition:0.7s;
}
#container2 .subhead{
    color:#009E9E;
}

#conServ{
  width:100%;
  margin:auto;
}
.linkimg img{
  display:block;
  transition: .3s ease-in-out;
  -webkit-filter: blur(2.5px); /* Chrome, Safari, Opera */
  filter: blur(2.5px);
  margin:auto;
}
.linkimg{
  display:inline-block;
  overflow: hidden;
  border-radius: 10px;
  border-color:#4a4d51;
  border:5px;
  margin:auto;
  width:50vw;
  grid-row:2;
}
.linkimg:hover img{
  -webkit-filter: blur(0px); /* Chrome, Safari, Opera */
  filter: blur(0px);
  transform: scale(1.1)

}
#linkimgcontainer{
  width:50vw;
  margin:auto;
}
@media only screen and (max-width:500px) {
  body{
    background-image:url(../img/mobilegradient.svg);
  }
  #containertext{
  width:90vw;
  margin:auto;
  }
  header{
    margin:auto;
  }
  #name{
    font-size:25vw;
    margin-top:-50px;
    line-height:20vw;
  }
  #tagline{
    font-size:4.5vw;
    margin:auto;
    margin-top:3px;
  }
#description{
  display:none;
}
#foottext{
  font-size:4vw;
}
#projects{
  font-size:13vw;
  text-align: center;
}
.subhead{
  font-size:4vw;
  text-align:center;
  font-family: 'UrbaniLight', sans-serif;

}
.body a{
  font-size: 3vw;
}
}
