@font-face {
  font-family: 'NoyhHeavy';
  src:  url('noyh-heavy-webfont.woff2') format('woff2'),
        url('noyh-heavy-webfont.woff') format('woff');

}
@font-face{
  font-family: 'NoyhRegular';
  src:  url('noyh-regular-webfont.woff2') format('woff2'),
        url('noyh-regular-webfont.woff') format('woff');
}
@font-face{
font-family: 'UrbaniLight';
src:  url('Urbani-Light.woff2') format('woff2'),
      url('Urbani-Light.woff') format('woff');
    }
@font-face{
font-family: 'UrbaniRegular';
src:  url('Urbani-Regular.woff2') format('woff2'),
      url('Urbani-Regular.woff') format('woff');
    }
@font-face{
font-family: 'UrbaniThin';
src:  url('Urbani-Thin.woff2') format('woff2'),
      url('Urbani-Thin.woff') format('woff');
    }
body{
background-color:black;
margin:0px;
border:0px;
background-image:url(../img/gradient.svg);
background-size:cover;
background-size:110vw;
background-position: center;
width:100%;
height:100%;
background-repeat:no-repeat;
padding:0px;
}
#container{
  height:59vh;
  width:auto;
  padding-top:33vh;
}
#containertext{
    width:50vw;
    height:auto;
    margin:auto;
    padding-left:2vh;
    padding-bottom:2vh;
    background-color: rgba(1, 12, 11, 0);
    border-radius: 15px;
    transition-timing-function: ease-out;

}
#containertext:hover{
  background-color: rgba(1, 12, 11, 0);
  transition: 0.5s;
}
header{
    font-family: 'NoyhHeavy', sans-serif;
    font-size:7vw;
    color:white;
}
.subhead{
    font-family: 'UrbaniThin', sans-serif;
    font-size:1.6vw;
    margin-bottom:20px;
}
#tagline{
    color:#20f8de;
    margin:auto;
    text-align: center;
    margin-left:-12vw;
}
#name{
    text-align: center;
    color:
}
#description{
    color:white;
    margin-left:26vw;
    width:14vw;
    border-left-color: #20f8de;
    border-left-style:groove;
    padding-left:5px;
    border-left-width: thin;
}
.body{
    font-size:1vw;
    font-family: 'UrbaniLight', sans-serif;
}

#greybar{
    width:100%;
    height:55px;
    background-color:#ffffff;
}
#foottext{
    width:93vw;
    margin:auto;
    line-height:55px;
}
#foottext a{
    color:black;
    font-family: 'NoyhLight', sans-serif;
    transition:.3s;
}
#foottext a:hover{
    color:#009E9E;
}
a {
    text-decoration: none;
}
#white{
width:100%;
height:auto;
background-color:white;
padding-bottom: 50px;
}
#container2{
    width:50vw;
    height:auto;
    margin:auto;
}
.section{
    color:#043332;
}
#project1{
    margin-left:100px;
}
#project1 nav a{
    line-height:2.5em;
}
#project1 a{
    color:#009E9E;
}
#project1 a:hover{
  color:#043332;
  transition:0.7s;
}
#container2 .subhead{
    color:#009E9E;
}
@media only screen and (max-width:500px) {
  #containertext{
  width:90vw;
  }
  header{
    font-size:20vw
  }


}
